*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  background: linear-gradient(
    to bottom,
    var(--top-colour),
    var(--bottom-colour)
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.colour-picker {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 20px;
}

.colour-picker:nth-child(1) {
  top: 20px;
}

.colour-picker:nth-child(2) {
  top: 70px;
}

.calc {
  display: grid;
  justify-content: center;
  border: 1rem solid rgb(38, 44, 47);
  border-radius: 1rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 6rem);
}

.output {
  height: 8rem;
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.65);
  color: azure;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
}

.prev-operand {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  margin: 1rem;
}

.cur-operand {
  color: rgba(255, 255, 255, 1);
  font-size: 2.5rem;
  font-weight: 900;
  margin: 1rem;
}

button {
  cursor: pointer;
  font-size: 1.8rem;
  text-shadow: 0 0 5px #040404;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: aliceblue;
  padding: 0;
}

button:hover {
  background-color: rgba(28, 28, 28, 0.5);
}

.pos,
.neg {
  font-size: 1.5rem;
}

.span-2 {
  grid-column: span 2;
}

@media screen and (max-width: 530px) {
  .calc {
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: minmax(6rem, auto) repeat(5, 5rem);
  }

  button {
    font-size: 1rem;
    font-weight: 500;
  }
}
